.container {
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  color: #3499fd;
  text-transform: capitalize;
}

.modalHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalClose {
  color: rgb(255, 74, 74);
  font-size: 28px;
  font-weight: 500;
  align-self: flex-start;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  text-transform: capitalize;
}

.info {
  composes: btn;
  background-color: #27a6aa;
  color: #fff;
  transition: background-color .2s;
}

.info:hover {
  background-color: #07787c;
}

.danger {
  composes: btn;
  background-color: #ef5350;
  color: #fff;
}

@media screen and (max-width:900px) {
  .container {
    padding: 0 15px;
  }
}
