.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #74b9ff;
}

.nav {
  composes: container from '../../common/styles/styles.module.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.brand {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}

.brand a {
  text-decoration: none;
  color: #222;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li:not(:last-child) {
  margin-right: 10px;
}

.menu li {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.menu li a,
.dropdown {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: none;
  color: #222;
  transition: background-color 0.2s;
  outline: none;
}

.activeLink {
  color: #111;
  background-color: rgba(255, 255, 255, 0.253);
}

.dropdown {
  cursor: pointer;
  text-transform: lowercase !important;
}

.dropdownMenu {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.dropdownItem {
  padding: 10px 30px;
  font-size: 15px;
  color: #222;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 500;
}

.dropdownItem:hover {
  background-color: #dbdbdb;
}

@media screen and (max-width: 576px) {
  .menu {
    flex-direction: column;
    padding: 10px 0;
  }

  .menu li {
    font-size: 14px;
  }

  .menu li a,
  .dropdown {
    padding: 10px;
  }

  .menu li:not(:last-child) {
    margin-right: 0;
  }

  .brand {
    padding: 10px 0 0;
  }

  .dropdownMenu {
    top: 130px;
    right: 50px;
  }
  
}

@media screen and (max-width: 380px) {
  .brand {
    font-size: 22px;
  }
}
